@import 'variables';

#a {
  background-color: #ffeb3b;
  color: $secondary-font-color;
}

.allContactInfo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font: $secondary-font-color;
  font-family: $primary-font;
  margin: 0 6vw;
}

h1,
.name,
.company {
  font-weight: 600;
}

.baseContactInfo {
  border-bottom: .5px solid;
  font-size: 3.5vh;
  padding: 3vh 0;
}

.baseTitle {
  margin-right: 1vw;
  width: 28vw;
}

.name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.fullName {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 3vh;
}

.company {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.companyName {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0 2vw 0 0;
}

.contactInformation {
  border-bottom: .5px solid;
  padding: 3vh 0;
}

.contactInformation h1 {
  font-size: 4vh;
}

.webInformation {
  border-bottom: .5px solid;
  padding: 3vh 0;
}

.webInformation h1 {
  font-size: 4vh;
}

.contactNotes {
  padding: 3vh 0;
}

.contactNotes h1 {
  font-size: 4vh;
}

.contactNotes h2 {
  margin-top: 3vh;
}

.title {
  margin-top: 3vh;
}

.userImage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 2vh 0 5vh;
}

.gravatarImage {
  border-radius: 20vh;
  height: 20vh;
  width: 20vh;
}

.followUpArea {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 5vh 0 0 0;
  justify-content: center;
}

.followUpButton {
  background-color: $primary-dark-color;
  border: none;
  border-radius: 1vh;
  color: $primary-font-color;
  font-size: 2.5vh;
  font-weight: 600;
  height: 5vh;
  width: 50vw;
}

.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.deleteButton {
  background-color: #D32F2F;
  border: none;
  border-radius: 1vh;
  color: $primary-font-color;
  margin: 4vh 0;
  font-size: 2.5vh;
  font-weight: 600;
  height: 5vh;
  width: 50vw;
}

.title, .notes {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


@media (min-width: 700px) {
  .name, .company {
    font-size: 3.5vh;
  }

  h1 {
    font-size: 5vh;
  }

  .baseTitle {
    width: 175px;
  }

  .title {
    font-size: 1.2em;
  }

  .notes {
    font-size: 1.2em;
  }
}

@media (min-width: 800px) {
  .allContactInfo {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .centerDesktop {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  h1 {
    font-size: 7vh;
  }

  .name, .company {
    font-size: 5vh;
  }

  .baseTitle {
    width: 175px;
  }

  .title {
    font-size: 3vh;
  }

  .followUpButton {
    height: 40px;
    width: 250px;
  }

  .deleteButton {
    height: 40px;
    width: 250px;
  }
}
