@import 'variables';

.nav-bar {
  align-items: center;
  background-color: $primary-dark-color;
  display: flex;
  height: 7vh;
  justify-content: space-between;
}

.star {
  margin-left: 3vw;
  height: 8vw;
}

.homeLink {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
}

.homeIcon {
  height: 4vh;
}

.user-name-drop {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: $primary-font-color;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 3vh;
  overflow: hidden;
  outline: none;
  text-decoration: none;
}

.plusContact {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: $primary-font-color;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 8vh;
  overflow: hidden;
  outline: none;
  margin-right: 3vw;
}
