@import 'variables';

.newContact {
  background-color: $secondary-light-color;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  color: $secondary-font-color;
}

.newContact .logo {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.description {
  font-size: 1em;
  flex: 1;
  margin-right: 10px;
  margin-left: 15px;
}

.formInput {
  width: 60vw;
  height: 2.5vh;
  margin-right: 5vw;
}

.primaryContainer {
  font-size: 1.5em;
  border-top: 2px solid $borders-color;
  border-width: thin;
  text-align: center;
  padding-top: 4vh;
  width: 90vw;
  margin: 0 auto 5vh;
}

.addAContact {
  border: none;
  padding-top: 0;
}

.notesInput {
  margin: auto;
  width: 90vw;
  height: 30vh;
}

.formButtons {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.buttonz {
  text-align: center;
  border-radius: 2vh;
  width: 35vw;
  height: 8vh;
  margin: 3vh 7vw;
  font-size: 2.5vh;
}

.submitButton {
  background-color: $primary-dark-color;
  color: $primary-font-color;
}

.cancelButton {
  border: 1px solid $primary-dark-color;
  color: $secondary-font-color;
  background-color: $primary-card-color;
}


@media (min-width: 700px) {
  .newContact .logo {
    width: 200px;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .primaryContainer {
    font-size: 2.2em;
  }

  .description {
    font-size: 1.5em;
  }

  .formInput {
    font-size: 1.5em;
    height: 5vh;
  }

  .notesInput {
    font-size: 1.5em;
  }
}

@media (min-width: 800px) {
  .formInput {
    // height: 5vh;
    margin-right: 10vw;
  }

  .description {
    margin-left: 10vw;
  }
}
