@import 'reset';
// @import 'homeScreen';
// @import 'allContactsPage';
// @import 'contactCard';
// @import 'addContact';
// @import 'contactPage';
@import 'variables';

body {
  background-color: $primary-dark-color;
  color: #FFF;
}

.hidden {
  display: none;
}
