@import 'variables';

.userCard {
  background-color: $primary-card-color;
  border: 2px solid $borders-color;
  border-radius: 10px;
  display: flex;
  font-family: $primary-font;
  height: 20vh;
  margin: auto;
  margin-top: 15px;
  width: 90vw;
}

.smallIndividualLink {
  color: $secondary-font-color;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  width: 100vw;
}

.date {
  display: flex;
  font-size: 0.8em;
  font-weight: bolder;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 5px;
}

.contentCard {
  display: flex;
  flex-direction: row;
}

.imgOnUserCard {
  border-radius: 50px;
  height: 13vh;
  margin-left: 4vw;
  width: 13vh;
}

.basicInfoCard {
  margin: 2vh 0 0 2vh;
  text-align: center;
}

.fullNameCard, .companyNameCard {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55vw;
  white-space: nowrap;
}

.fullNameCard {
  font-size: 1.7em;
  height: 6.5vh;
}

.companyNameCard {
  font-size: 1.1em;
  height: 6.5vh;
  margin-top: 1vh;
}

@media (min-width: 350px) {
  .fullNameCard {
    font-size: 2em;
  }

  .companyNameCard {
    font-size: 1.3em;
    margin: 0;
  }
}

@media (min-width: 400px) {
  .date {
    font-size: 1em;
  }
  .fullNameCard {
    font-size: 2.2em;
  }

  .companyNameCard {
    font-size: 1.4em;
  }
}

@media (min-width: 625px) {
  .userCard {
    height: 19vh;
    width: 600px;
  }

  .basicInfoCard {
    margin-left: 2vw;
    margin-top: 0;
  }

  .date {
    font-size: 1.2em;
  }

  .imgOnUserCard {
    border-radius: 50%;
  }

  .fullNameCard, .companyNameCard {
    width: 400px;
  }

  .fullNameCard {
    font-size: 2.3em;
  }

  .companyNameCard {
    font-size: 1.6em;
  }
}

@media (min-width: 900px) {
  .userCard {
    height: 130px;
    width: 450px;
  }

  .basicInfoCard {
    margin-top: 4px;
  }

  .contactInfoCard {
    display: inline-block;
    width: 50%;
  }

  .imgOnUserCard {
    height: 90px;
    margin-left: 25px;
    width: 90px;
  }

  .fullNameCard, .companyNameCard {
    width: 230px;
  }

  .contactsScreen.userFollowUpCards {
    display: inline-block;
  }
}
