$primary-dark-color: #455A64;
$secondary-light-color: #CFD8DC;
$primary-font-color: #FFFFFF;
$primary-card-color: #FFFFFF;
$secondary-font-color: #2A2F36;
$borders-color: #2A2F36;
$primary-font: 'Source Sans Pro', sans-serif;
